.paper {
  padding: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px;
}

.product-list-container {
  margin-top: 150px;
}
.explore--card {
  text-align: left;
  transition: all 0.2s ease !important;
}

.explore--card:hover {
  background-color: rgb(170, 170, 170) !important;
}

.explore--card:hover .explore--card--name {
  color: white !important;
}

.explore--card:hover .explore--card--details {
  color: rgb(228, 228, 228) !important;
}

.explore--card:hover .explore--card--price {
  color: rgb(255, 255, 255) !important;
}
